# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main, ]
  pull_request:
    branches: [ main, ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Setup Python environment
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
        architecture: 'x64'
    - name: Install Python dependencies (required in Julia Pycall)
      run: |
          python3 -m pip install --upgrade pip
          pip install numpy
          pip install pandas
    # Setup Julia environment
    - name: Setup Julia environment
      uses: julia-actions/setup-julia@latest
      with:
        # The Julia version to download (if necessary) and use.
        version: 1.8
        # Display InteractiveUtils.versioninfo() after installing
        show-versioninfo: true # optional, default is false
    - run: |
        using InteractiveUtils; versioninfo()
        using Pkg
        Pkg.pkg"update"
        Pkg.pkg"registry add https://github.com/JuliaMolSim/MolSim.git"
        Pkg.pkg"registry add https://github.com/ACEsuit/ACEregistry"
        Pkg.activate(".")
        Pkg.test("ACEds")
      shell: bash -c "julia --color=yes {0}"
